In [80]:
import pandas as pd
import numpy as np

## Read All Dataset
### Sources Kaggle : https://www.kaggle.com/datasets/shivamb/netflix-shows
Amazon Prime, Disney Plus, Hulu, Netflix

In [81]:
df_amazon = pd.read_csv("../dataset/amazon_prime_titles.csv")
df_amazon.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...

In [82]:
df_disney = pd.read_csv("../dataset/disney_plus_titles.csv")
df_disney.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.

In [83]:
df_hulu = pd.read_csv("../dataset/hulu_titles.csv")
df_hulu.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...

In [84]:
df_netflix = pd.read_csv("../dataset/netflix_titles.csv")
df_netflix.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...

### Create a new column for source of each dataset
df_name[column_name] = column_value

In [85]:
df_amazon["source"] = "Amazon Prime"
df_amazon.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,source
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,Amazon Prime
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,Amazon Prime
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,Amazon Prime

In [86]:
df_hulu["source"] = "Hulu"
df_hulu.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,source
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,Hulu
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",Hulu
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...,Hulu

In [87]:
df_disney["source"] = "Disney Plus"
df_disney.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,source
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,Disney Plus
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...,Disney Plus
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.,Disney Plus

In [88]:
df_netflix["source"] = "Netflix"
df_netflix.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,source
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Netflix
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",Netflix
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,Netflix

### Merge all dataframe into one using concat
pd.concat([df_name])

In [89]:
union_df = pd.concat([df_amazon,df_hulu,df_disney,df_netflix])
union_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,source
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,Amazon Prime
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,Amazon Prime
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,Amazon Prime
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",Amazon Prime
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,Amazon Prime

### Describe the new dataset after merge
Check count, describe, values, show random sample of data.

In [90]:
union_df.count()

show_id         22998
type            22998
title           22998
director        14738
cast            17677
country         11499
date_added      13444
release_year    22998
rating          22134
duration        22516
listed_in       22998
description     22994
source          22998
dtype: int64

In [91]:
df_amazon.count()

show_id         9668
type            9668
title           9668
director        7585
cast            8435
country          672
date_added       155
release_year    9668
rating          9331
duration        9668
listed_in       9668
description     9668
source          9668
dtype: int64

In [92]:
union_df.sample(20)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,source
6054,s6055,Movie,A Russell Peters Christmas,Henry Sarwer-Foner,"Russell Peters, Pamela Anderson, Michael Bublé...",Canada,"November 1, 2013",2011,NR,44 min,Stand-Up Comedy,"Inspired by the variety shows of the 1970s, ""A...",Netflix
5240,s5241,Movie,Theri,Atlee Kumar,"Vijay, Samantha Ruth Prabhu, Amy Jackson, Baby...",India,NaN,2016,ALL,150 min,"Action, Drama, International",Joseph (Vijay) lives in a small town of Kerala...,Amazon Prime
1390,s1391,Movie,The Haunted,NaN,NaN,NaN,"September 20, 2020",2018,NaN,75 min,"Horror, Thriller",Emily arrives for her first night-shift as a c...,Hulu
1381,s1382,Movie,Toy Story Toons: Partysaurus Rex,Mark Walsh,"Tom Hanks, Tim Allen, Wallace Shawn, Corey Bur...",United States,"November 12, 2019",2012,G,9 min,"Animation, Comedy, Family",Rex throws an over-the-top bath time bash!,Disney Plus
1217,s1218,TV Show,Rainbow Ruby,NaN,NaN,NaN,NaN,2016,TV-Y,1 Season,"Animation, Kids",Rainbow Ruby comes to the rescue whenever a do...,Amazon Prime
3827,s3828,Movie,Little Nemo: Adventures in Slumberland,"Masami Hata, William T. Hurtz","Gabriel Damon, Mickey Rooney, Rene Auberjonois...",NaN,NaN,1989,ALL,95 min,"Anime, Kids, Science Fiction",A young boy whose dreams transcend reality is ...,Amazon Prime
1428,s1429,Movie,Zootopia,"Byron Howard, Rich Moore","Ginnifer Goodwin, Jason Bateman, Idris Elba, J...",United States,"November 12, 2019",2016,PG,109 min,"Animation, Comedy, Family",A rookie-cop rabbit and wily fox team up to cr...,Disney Plus
7519,s7520,TV Show,He Who Can't Marry,NaN,"Hiroshi ABE, You YOSHIDA",NaN,"August 18, 2021",2019,TV-NR,2 Seasons,"Comedy, Drama","""Unmarried man"" Shinsuke Kuwano is back!Even a...",Amazon Prime
6580,s6581,Movie,Every Single Someone,Samuel Marko,"Luke Krogmeier, Megan Elisabeth, Luke Towle, K...",NaN,NaN,2021,13+,86 min,"Horror, Suspense","Reeling from a recent breakup, college student...",Amazon Prime
3854,s3855,Movie,Happy Birthday,Casey Tebo,"Tristin Mays, Vanessa Lengies, Erik Palladino",NaN,NaN,2016,R,90 min,"Comedy, Suspense",When two friends embark on a journey to Mexica...,Amazon Prime
3441,s3442,Movie,Deon Cole: Cole Hearted,Ryan Polito,Deon Cole,United States,"October 8, 2019",2019,TV-MA,70 min,Stand-Up Comedy,Embracing his belief that comedy is the last r...,Netflix
5260,s5261,Movie,Much Loved,Nabil Ayouch,"Loubna Abidar, Asmaa Lazrak, Halima Karaouane,...","France, Morocco","September 27, 2017",2015,TV-MA,104 min,"Dramas, Independent Movies, International Movies",Four friends who make their living as prostitu...,Netflix
107,s108,TV Show,Miraculous: Tales Of Ladybug & Cat Noir,NaN,"Cristina Vee, Bryce Papenbrook, Keith Silverst...","France, South Korea, Japan, United States","September 15, 2021",2015,TV-Y7,1 Season,"Action-Adventure, Animation, Fantasy",Superheroes Ladybug and Cat Noir protect the c...,Disney Plus
2006,s2007,TV Show,Investigations by Vice,NaN,NaN,NaN,"November 1, 2019",2019,TV-MA,1 Season,"Documentaries, News",From the award-winning producers and correspon...,Hulu
4463,s4464,Movie,Left Behind: The Movie,Vic Sarin,"Kirk Cameron, Brad Johnson, Janaya Stephens, C...",NaN,NaN,2000,PG-13,100 min,"Action, Adventure, Faith and Spirituality",After learning that millions have completely v...,Amazon Prime
320,s321,Movie,To Let,Ra Chezhiyan,"Santhosh Sreeram, Sheela Rajkumar, Darun, Aadh...",NaN,NaN,2019,ALL,95 min,"Drama, International",The film speaks of the difficulty faced by tho...,Amazon Prime
2996,s2997,Movie,Alex Fernández: The Best Comedian in the World,Alex Díaz,Alex Fernández,Mexico,"January 23, 2020",2020,TV-MA,51 min,Stand-Up Comedy,Comic Alex Fernández performs his familiar aut...,Netflix
4070,s4071,Movie,Fun Animal Songs for Kids by HooplaKidz,HooplaKidz,"Annie, Ben, Mango",NaN,NaN,2017,ALL,35 min,"Animation, Kids",Here comes the Fun Collection of Animals Songs...,Amazon Prime
5987,s5988,TV Show,Ryan Defrates: Secret Agent,NaN,"Chris Burnett, Marieve Herington, Akai Draco, ...",NaN,NaN,2021,7+,1 Season,"Action, Animation, Kids","Ryan Defrates, an arrogant secret agent, must ...",Amazon Prime
7962,s7963,Movie,PARASAKTHY,Kani arasu,"Kishan pillai, Shalini, Thuraj",NaN,NaN,2021,18+,25 min,"Action, Drama",a drunkyard father which living in caste syste...,Amazon Prime

In [93]:
union_df.loc[union_df["source"] == "Disney Plus"].head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,source
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,Disney Plus
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...,Disney Plus
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.,Disney Plus
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!",Disney Plus
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...,Disney Plus

### Create a dataset
Create new dataset from merge multiple dataset into a csv file.

In [94]:
union_df.to_csv("../dataset/dataset_join.csv", sep=',', index = False, encoding='utf-8')

### Check if the dataset is created succesfully
Read again the new dataset.

In [95]:
df_join = pd.read_csv("../dataset/dataset_join.csv")
df_new = df_join
df_new.sample(20)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,source
4525,s4526,Movie,Tru Love,"Shauna MacDonald, Kate Johnston","Shauna MacDonald, Kate Trotter, Christine Horne",NaN,NaN,2014,16+,88 min,"Arthouse, LGBTQ, Romance","A widow, recovering from the death of her husb...",Amazon Prime
22048,s7858,Movie,Resident Evil: Afterlife,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Kim Coates, Shawn ...","Germany, France, United States, Canada, United...","January 1, 2020",2010,R,97 min,"Action & Adventure, Horror Movies, Sci-Fi & Fa...",The Undead Apocalypse continues as super-soldi...,Netflix
5774,s5775,Movie,The Horrific Evil Monsters,Adam R. Steigert,"Bishop Stevens, Jennie Russo, Gregory Blair, W...",NaN,NaN,2021,18+,70 min,Action,A secret government agency recruits a misfit b...,Amazon Prime
16131,s1941,Movie,Golmaal Returns,Rohit Shetty,"Ajay Devgn, Kareena Kapoor, Arshad Warsi, Tuss...",India,"September 28, 2020",2008,TV-MA,135 min,"Comedies, International Movies, Music & Musicals",A man's relationship with his jealous wife ent...,Netflix
20651,s6461,TV Show,Chewing Gum,NaN,"Michaela Coel, John Macmillan, Robert Lonsdale...",United Kingdom,"April 4, 2017",2017,TV-MA,2 Seasons,"British TV Shows, International TV Shows, Roma...","The virginal Tracey, who was raised in a stric...",Netflix
3550,s3551,Movie,15-Minute Balance & Burn 5.0 Workout,NaN,Maggie Binkley,NaN,NaN,2017,ALL,21 min,Fitness,No Equipment Needed. Tip: Complete Series 1.0 ...,Amazon Prime
18123,s3933,Movie,Sarvam Thaala Mayam (Telugu Version),Rajiv Menon,"G.V. Prakash Kumar, Nedumudi Venu, Aparna Bala...",India,"April 8, 2019",2018,TV-14,131 min,"Dramas, International Movies, Music & Musicals",An aspiring musician battles age-old caste div...,Netflix
9135,s9136,Movie,On Golden Pond,Mark Rydell,"Henry Fonda, Katherine Hepburn, Jane Fonda",NaN,NaN,1981,PG,109 min,Drama,"In his final role, Henry Fonda plays Norman Th...",Amazon Prime
22083,s7893,TV Show,Roonpi Secret Love,NaN,"Kanyawee Songmuang, Korapat Kirdpan",Thailand,"June 21, 2019",2016,TV-14,3 Seasons,"International TV Shows, Romantic TV Shows, Tee...",High school senior Belle pursues a shy junior ...,Netflix
8687,s8688,Movie,Kiss My Act,Duane Clark,"Camryn Manheim, Scott Cohen, Alexondra Lee",NaN,NaN,2001,13+,90 min,"Comedy, Drama, Romance",A modern retelling of the Cyrano de Bergerac s...,Amazon Prime
22306,s8116,Movie,Suicide (Hitabdut),Benny Fredman,"Mali Levi, Rotem Keinan, Dror Keren, Igal Naor",Israel,"July 1, 2016",2014,TV-MA,114 min,"International Movies, Thrillers",A failed businessman must kill himself to pay ...,Netflix
11521,s1854,TV Show,Nisekoi 2,NaN,NaN,NaN,"January 31, 2020",2015,NaN,1 Season,"Anime, Comedy, International",Raku Ichijo is an average high school student....,Hulu
11011,s1344,TV Show,Let's Be Real,NaN,NaN,NaN,"October 2, 2020",2020,TV-14,1 Season,Comedy,Satirical puppet series covering politics and ...,Hulu
5741,s5742,Movie,Morphle Non-Dialogue - Mila and Morphle Save t...,Arthur van Merwijk,NaN,NaN,NaN,2019,ALL,41 min,"Animation, Kids",Mila and Morphle are back again! In this educa...,Amazon Prime
4038,s4039,Movie,15-Minute Yoga Recover 1.0 Workout,NaN,Maggie Binkley,NaN,NaN,2018,ALL,18 min,Fitness,The benefits of yoga in just 15 minutes. This ...,Amazon Prime
11346,s1679,Movie,Saving Flora,NaN,NaN,NaN,"May 15, 2020",2018,TV-PG,96 min,"Action, Adventure, Drama",After learning that an aging circus elephant i...,Hulu
9811,s144,Movie,The Mask of Zorro,NaN,NaN,NaN,"October 1, 2021",1998,PG-13,138 min,"Action, Adventure",When a power-crazed despot schemes to buy Cali...,Hulu
8147,s8148,TV Show,Chronofilm,NaN,"Joseph Hypes, Madison Mitchell, Colton Dennis,...",NaN,NaN,2021,13+,1 Season,"Science Fiction, Suspense",A team of investigators travels back in time w...,Amazon Prime
702,s703,Movie,The Curse of Buckout Road,Matthew Currie Holmes,"Evan Ross, Henry Czerny, Dominique Provost-Cha...",NaN,NaN,2019,18+,96 min,Horror,A college class project on creation and destru...,Amazon Prime
22458,s8268,Movie,The Dark Side of Life: Mumbai City,Tariq Khan,"Mahesh Bhatt, Kay Kay Menon, Avii, Nikhil Ratn...",India,"December 31, 2019",2018,TV-MA,121 min,"Dramas, International Movies",Struggling with Mumbai's pressures and private...,Netflix

### Identify Missing Values
Handle missing values from the dataset.

1. Drop duplicate values

In [96]:
df_new = df_new.drop_duplicates()

In [97]:
df_new.count()

show_id         22998
type            22998
title           22998
director        14738
cast            17677
country         11499
date_added      13444
release_year    22998
rating          22134
duration        22516
listed_in       22998
description     22994
source          22998
dtype: int64

2. Delete unused column

In [98]:
df_new = df_new.drop(columns="show_id")

3. Clean NULL values

In [99]:
df_new = df_new.fillna("")

4. Reset index

In [100]:
df_new = df_new.reset_index(drop=True)

In [101]:
df_new.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,source
22115,Movie,Salem: His Sister's Father,Mohamed Hamdy,"Mohamed Ragab, Horeya Farghaly, Ayten Amer, Mo...",Egypt,"June 22, 2019",2014,TV-14,99 min,"Dramas, International Movies",A street vendor's simple life is turned upside...,Netflix
11804,Movie,I Trapped the Devil,,,United States,"July 26, 2019",2019,84 min,,"Drama, Horror",After trapping what he believes to be the devi...,Hulu
3214,Movie,Arpo the Robot for All Kids - Germ War & More ...,,,,,2020,ALL,23 min,"Animation, Kids","Arpo was designed as a commando robot, built a...",Amazon Prime
16995,TV Show,Women Of The Night,,"Karina Smulders, Susan Radder, Hilde Van Miegh...",Netherlands,"March 18, 2020",2019,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas","Haunted by a shadowy past, the wife of a risin...",Netflix
15885,Movie,Cloudy with a Chance of Meatballs 2,"Cody Cameron, Kris Pearn","Bill Hader, Anna Faris, James Caan, Will Forte...",United States,"November 15, 2020",2013,PG,95 min,"Children & Family Movies, Comedies",Inventor Flint Lockwood battles mutant food be...,Netflix

### Identify Missing Values Alternatife 2
Another way to processing and handling missing values

In [102]:
df_mv = df_join
df_mv.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,source
8305,s8306,Movie,Jiro Dreams of Sushi,David Gelb,Jiro Ono,NaN,NaN,2011,PG,82 min,"Documentary, Special Interest",An enthralling portrait of 85-year-old Jiro On...,Amazon Prime
22085,s7895,Movie,Rosemary's Baby,Roman Polanski,"Mia Farrow, John Cassavetes, Ruth Gordon, Sidn...",United States,"November 1, 2019",1968,R,137 min,"Classic Movies, Horror Movies, Thrillers",A woman is thrilled to find out she's pregnant...,Netflix
19448,s5258,TV Show,Paul Hollywood's Big Continental Road Trip,NaN,Paul Hollywood,United Kingdom,"September 29, 2017",2017,TV-14,1 Season,"British TV Shows, Docuseries, International TV...",Gear up for a fast-paced journey as celebrity ...,Netflix
5280,s5281,Movie,Hum Tum,Kunal Kohli,"Kiron Kher, Rishi Kapoor, Saif Ali Khan, Rani ...",NaN,NaN,2004,ALL,143 min,"Comedy, International, Romance",Karan (Saif Ali Khan) is a cartoonist. His cha...,Amazon Prime
22608,s8418,Movie,The Mayo Clinic,"Ken Burns, Christopher Loren Ewers, Erik Ewers",Peter Coyote,United States,"April 19, 2019",2018,TV-14,116 min,Documentaries,A look at how a world-renowned medical institu...,Netflix

1. checking missing values

In [103]:
df_mv.isnull()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,source
0,False,False,False,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,False,False,False,True,False,False,False,False
4,False,False,False,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,False,False,False,False,False,False,False,False,False,False,False,False,False
22994,False,False,False,True,True,True,False,False,False,False,False,False,False
22995,False,False,False,False,False,False,False,False,False,False,False,False,False
22996,False,False,False,False,False,False,False,False,False,False,False,False,False
22997,False,False,False,False,False,False,False,False,False,False,False,False,False

In [104]:
# checking missing values based on each category
df_mv.isnull().sum()

show_id             0
type                0
title               0
director         8260
cast             5321
country         11499
date_added       9554
release_year        0
rating            864
duration          482
listed_in           0
description         4
source              0
dtype: int64

In [105]:
# checking how many null or missing values in data
df_mv.isnull().sum().sum()

35984

2. Delete missing value dataset

In [106]:
drop_mv = df_mv.dropna()

In [107]:
drop_mv = drop_mv.reset_index(drop=True)

In [108]:
drop_mv.count()

show_id         6151
type            6151
title           6151
director        6151
cast            6151
country         6151
date_added      6151
release_year    6151
rating          6151
duration        6151
listed_in       6151
description     6151
source          6151
dtype: int64

In [109]:
drop_mv.sample(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,source
1280,s997,Movie,HOMUNCULUS,Takashi Shimizu,"Go Ayano, Ryo Narita, Yukino Kishii, Anna Ishi...",Japan,"April 22, 2021",2021,TV-MA,116 min,"Horror Movies, International Movies, Thrillers",Truth and illusion blurs when a homeless amnes...,Netflix
4440,s6364,Movie,Born to Be Free,Gayane Petrosyan,Casting a light on the mistreatment of sea mam...,"United Kingdom, Russia","April 1, 2017",2016,TV-14,74 min,"Documentaries, International Movies",Casting a light on the mistreatment of sea mam...,Netflix
5011,s7184,Movie,Khalnayak,Subhash Ghai,"Sanjay Dutt, Madhuri Dixit, Jackie Shroff, Anu...",India,"March 1, 2018",1993,TV-14,170 min,"Action & Adventure, Dramas, International Movies",A prison guard goes undercover as a dancer to ...,Netflix
5952,s8528,Movie,The Texas Chainsaw Massacre,Tobe Hooper,"Gunnar Hansen, Jim Siedow, Marilyn Burns, Edwi...",United States,"October 22, 2019",1974,R,83 min,"Cult Movies, Horror Movies, Independent Movies",When some friends visit a vandalized graveyard...,Netflix
2686,s3424,TV Show,Black Money Love,Ahmet Katıksız,"Güler Ökten, Hazal Türesan, İlkin Tüfekçi, Bed...",Turkey,"October 15, 2019",2014,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas",After a cop's fiancée and a jewelry designer's...,Netflix
132,s394,Movie,The Chronicles Of Narnia: The Voyage of the Da...,Michael Apted,"Georgie Henley, Skandar Keynes, Ben Barnes, Wi...","United States, United Kingdom","October 9, 2020",2010,PG,113 min,"Action-Adventure, Family, Fantasy",Three heroes sail with King Caspian to help Na...,Disney Plus
735,s1347,Movie,The Thirteenth Year,Duwayne Dunham,"Chez Starbuck, Dave Coulier, Lisa Sullivan, Ju...",United States,"November 12, 2019",1999,TV-G,89 min,"Coming of Age, Fantasy",Cody learns he can communicate with fish as he...,Disney Plus
4347,s6235,Movie,Barbie & Her Sisters in a Pony Tale,Kyran Kelly,"Kelly Sheridan, Kazumi Evans, Claire Corlett, ...",United States,"October 1, 2017",2013,TV-Y,74 min,Children & Family Movies,Barbie and her sisters set off on a Swiss adve...,Netflix
3215,s4450,Movie,Life in a ... Metro,Anurag Basu,"Dharmendra, Irrfan Khan, Konkona Sen Sharma, K...",India,"November 1, 2018",2007,TV-14,126 min,"Dramas, International Movies, Music & Musicals",A group of Mumbai up-and-comers search for lov...,Netflix
4936,s7076,Movie,Inequality for All,Jacob Kornbluth,Robert Reich,United States,"August 29, 2018",2013,PG,90 min,Documentaries,Former U.S. Labor Secretary Robert Reich makes...,Netflix

3. Drop rows based on thresshold

In [118]:
df_thd = df_join
df_thd.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,source
2553,s2554,Movie,Enai Noki Paayum Thota,Gautham Menon,"Dhanush, Megha Akash, Sasikumar",India,NaN,2019,16+,151 min,"Action, Suspense",A college student gets dragged into chaos when...,Amazon Prime
12183,s2516,TV Show,National Treasure: Kiri,NaN,NaN,United Kingdom,"April 4, 2018",2018,TV-MA,1 Season,"Crime, Drama","From the award-winning writer Jack Thorne, Nat...",Hulu
16744,s2554,TV Show,The Eddy,"Damien Chazelle, Houda Benyamina, Laïla Marrak...","André Holland, Joanna Kulig, Amandla Stenberg,...","United Kingdom, Germany, United States, France","May 8, 2020",2020,TV-MA,1 Season,"International TV Shows, TV Dramas",The owner of a Paris jazz club gets tangled up...,Netflix
9455,s9456,Movie,Eric Clapton: Standing at the Crossroads,Robin Bextor,"Eric Clapton, Jack Bruce, Keith Richards",NaN,NaN,2021,7+,92 min,Documentary,Eric Clapton is one of the most influential gu...,Amazon Prime
7234,s7235,Movie,From Zero To I Love You,Doug Spearman,"Scott Bailey, Darryl Stephens, Keili Lefkovitz...",NaN,NaN,2020,16+,106 min,"LGBTQ, Romance",Pete Logsdon is just a guy in Philadelphia who...,Amazon Prime

In [119]:
df_thd = df_thd.dropna(thresh=4)

In [120]:
df_thd.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,source
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,Amazon Prime
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,Amazon Prime
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,Amazon Prime
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",Amazon Prime
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,Amazon Prime

In [121]:
df_thd.count()

show_id         22998
type            22998
title           22998
director        14738
cast            17677
country         11499
date_added      13444
release_year    22998
rating          22134
duration        22516
listed_in       22998
description     22994
source          22998
dtype: int64